.header {
  height: 80px;
  background: white;
}
.header .header-top {
  height: 40px;
  line-height: 40px;
  text-align: right;
  padding-right: 20px;
  border-bottom: 2px solid #1DA57A;
}
.header .header-bottom {
  display: flex;
  align-items: center;
  height: 40px;
}
.header .header-bottom .header-bottom-left {
  position: relative;
  width: 25%;
  font-size: 20px;
  text-align: center;
}
.header .header-bottom .header-bottom-left::after {
  top: 35px;
  left: 50%;
  transform: translateX(-50%);
  content: '';
  position: absolute;
  border-top: 20px solid white;
  border-right: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid transparent;
}
.header .header-bottom .header-bottom-right {
  width: 75%;
  margin-right: 30px;
  text-align: right;
}
.header .header-bottom .header-bottom-right img {
  width: 30px;
  height: 20px;
  margin: 0 15px;
}
